
@import "../../styles/global/theme-variables";
.new-arrival{
   .inner-wrap{
        padding: 45px 0 65px;

        .new-arrival-slider{
            .slick-slide{
                // margin-left: 15px;
                // margin-right: 15px;
                padding-left: 15px;
                padding-right: 15px;
            }

            
        }
   }
}