.age-group-section{
    background: linear-gradient(90deg, #EBFFFA 0%, #E0ECFF 50.5%, #F9F2FF 100%);
    position: relative;
    margin-top: 30px;
    margin-bottom: 26px;

    .inner-wrapper{
        padding-top: 24px;
    }
}

@media (max-width:1200px){
    .age-group-section{
        margin: 0;
    }
}
