@import "./theme-variables";

* {
    margin: 0;
}

body {
    background-color: $body-bg-color;
    // background-color: black;
    color: $font-color-base;
    font-family: $font-family-base;
    font-size: $font-size-base;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.content {
    margin-top: 60px;
}

a {
    color: $font-color-base;
    text-decoration: none;
    font-size: 14px;

    &:hover,
    &:active,
    &:focus {
        color: $color-2;
        font-weight: 500;
    }
}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid $btn-primary-border-color;
    color: $btn-primary-text-color;
    border-radius: $btn-primary-border-radius;
    padding: 8px 10px;
    background-color: $btn-primary-bg-color;
    font-family: $font-family-base;
    font-size: $btn-primary-font-size;
    font-weight: $btn-primary-font-weight;
    margin-top: 10px;
    cursor: pointer;
}

.btn-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid $btn-secondary-border-color;
    color: $btn-secondary-text-color;
    border-radius: $btn-secondary-border-radius;
    padding: 8px 10px;
    background-color: $btn-secondary-bg-color;
    font-family: $font-family-base;
    font-size: $btn-secondary-font-size;
    font-weight: $btn-secondary-font-weight;
    margin-top: 10px;
    cursor: pointer;


    svg {


        path {
            stroke: white;
        }
    }
}

.badge {
    border-radius: 6px;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $color-2;
    display: flex;
    align-items: center;
    &.primary{
        background: rgba(59, 114, 255, 0.12);
    }

    &.secondary{
        background: transparent;
        border:  1px solid rgba(59, 114, 255, 0.24);;
    }
}


.heading {
    font-size: $heading-font-size;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
}

.title {
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    line-height: $title-line-height;
}

.description {
    font-size: $description-font-size;
    font-weight: $description-font-weight;
    line-height: $description-line-height;
}

.bg-dark {

    .title,
    .description,
    .heading {
        color: $color-1;
    }
}


.slick-arrow{
    &.slick-prev{
        left: 72px;
        z-index: 1;
        
        &::before{
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none"> <path d="M17.9375 6.125L10.0625 14L17.9375 21.875" stroke="%233B72FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>') !important;
        }
    }

    &.slick-next{
        right: 72px;
    }

    &.slick-next,&.slick-prev{
        background :$color-1;
        border-radius: 50%;
        display: flex !important;
        align-items: center;
        justify-content: center;
        height: 64px;
        width: 64px;

        &::before{
            content: '';
            display: block;
            height: 28px;
            width: 28px;
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none"> <path d="M10.0625 6.125L17.9375 14L10.0625 21.875" stroke="%233B72FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>');
            background-repeat: no-repeat;
        }

        &:hover,&:focus,&:active{
           filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
           background: $color-1;
        }
    }
}

@media (max-width:991px){
    .slick-arrow{

        &.slick-prev,&.slick-next{
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            height: 50px;
            width: 50px;
            top: 40%;
        }
        &.slick-next{
            right: 20px;
        }

        &.slick-prev{
            left: 20px;
        }
    }
}

@media (max-width:767px){
    .title{
        font-size: $title-font-size-sm;
    }
}